{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %}

<H1>CATEGORIAS</H1>

<!-- bucle for que mostrará los diversos servicios creados-->
{% for post in posts %}

<div class="container">
    <!-- Heading -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3 mt-5">
                <img src="{{post.imagen.url}}" class=" card-img-top" width="300" height="360" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{post.titulo}}</h5>
                    <p class="card-text">{{post.contenido}}</p>
                    <p class="card-text"><small class="text-muted">Autor: {{post.autor}}</small></p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endfor %}

<section>
    <div style="background-color: yellow; text-align: center;">
        Categorías: {% for post in posts %} {% for categoria in post.categorias.all %} &nbsp; {{categoria.nombre}} {% endfor %} {% endfor %}
    </div>
</section>

{% endblock %}