{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %}

<div class="container">
    <!-- Heading -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3 mt-5">
                <img src="{% static 'ProyectoWebApp/img/showcase_10_img.jpg' %}" class=" card-img-top" width="300" height="360" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card mb-3 mt-5">
                <img src="{% static 'ProyectoWebApp/img/ecommerce_30_bg_2.jpg' %}" class=" card-img-top" width="300" height="360" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}